<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Hera2_java</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>Captcha</display-name>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>com.gwsystems.misc.Captcha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/simpleCaptcha</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
    <!--<description></description>-->
    <!--<display-name>Login</display-name>-->
    <!--<servlet-name>Login</servlet-name>-->
    <!--<servlet-class>com.gwsystems.servlets.Login</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Login</servlet-name>-->
    <!--<url-pattern>/ajax/login.do</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <description></description>
        <display-name>UserDetails</display-name>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>com.gwsystems.servlets.UserDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/ajax/userdetails.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ListLTD</display-name>
        <servlet-name>ListLTD</servlet-name>
        <servlet-class>com.gwsystems.servlets.ListLTD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLTD</servlet-name>
        <url-pattern>/ajax/listltd.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CheckDomain</display-name>
        <servlet-name>CheckDomain</servlet-name>
        <servlet-class>com.gwsystems.servlets.CheckDomain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckDomain</servlet-name>
        <url-pattern>/ajax/checkdomain.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Mailboxes</display-name>
        <servlet-name>Mailboxes</servlet-name>
        <servlet-class>com.gwsystems.servlets.mailbox.Mailboxes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mailboxes</servlet-name>
        <url-pattern>/ajax/mailboxes.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Logout</display-name>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.gwsystems.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/ajax/logout.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SimpleSMSList</display-name>
        <servlet-name>SimpleSMSList</servlet-name>
        <servlet-class>com.gwsystems.servlets.sms.SimpleSMSList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleSMSList</servlet-name>
        <url-pattern>/ajax/sms/simplesmslist.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PrefixList</display-name>
        <servlet-name>PrefixList</servlet-name>
        <servlet-class>com.gwsystems.servlets.sms.PrefixList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrefixList</servlet-name>
        <url-pattern>/ajax/sms/prefixlist.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoanHistory</display-name>
        <servlet-name>LoanHistory</servlet-name>
        <servlet-class>com.gwsystems.servlets.LoanHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanHistory</servlet-name>
        <url-pattern>/ajax/loanhistory.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>EditPrefix</display-name>
        <servlet-name>EditPrefix</servlet-name>
        <servlet-class>com.gwsystems.servlets.sms.EditPrefix</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPrefix</servlet-name>
        <url-pattern>/ajax/sms/editprefix.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ListRecords</display-name>
        <servlet-name>ListRecords</servlet-name>
        <servlet-class>com.gwsystems.servlets.dns.ListRecords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListRecords</servlet-name>
        <url-pattern>/ajax/dns/listrecords.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ListMyDomains</display-name>
        <servlet-name>ListMyDomains</servlet-name>
        <servlet-class>com.gwsystems.servlets.dns.ListMyDomains</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListMyDomains</servlet-name>
        <url-pattern>/ajax/dns/listmydomains.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TestPrefix</display-name>
        <servlet-name>TestPrefix</servlet-name>
        <servlet-class>com.gwsystems.servlets.sms.TestPrefix</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestPrefix</servlet-name>
        <url-pattern>/ajax/sms/testprefix.do</url-pattern>
    </servlet-mapping>
</web-app>
